@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #110606;
  --background-secondary: #2b2828;
  --background-tertiary: #443e3e;
  --foreground: #ffffff;
  --primary: #ca323d;
  --text-gray: #b3b3b3;
  --text-off-white: #f1f1f1;
  --popover: #655D5E;
}

body {
  color: var(--foreground);
  background: var(--background);
}
